<!doctype html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ function('portfolio_mix', 'css/main.css') }}">
    <script type="text/javascript" src="{{ function('portfolio_mix', 'js/Main.js') }}"></script>
    <title>{{ __('Theo’s portfolio', 'portfolio') }}</title>
</head>
<body class="body">
    <h1 class="sr-only">
        {{ site.name }}
    </h1>
    <header class="header">
        <nav class="header__nav">
            <h2 class="header__nav__title sr-only">
                {{ header_nav.title }}
            </h2>
            <ul class="header__nav__container">
                {% for item in header_nav.items %}
                    <li class="header__nav__item item__{{ item.slug }}">
                        <a class="header__nav__item__link link__{{ item.slug }}"
                           href="{{ item.link }}">
                            {{ item.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </header>

    {% block body '' %}

    <footer class="footer">
        <nav class="footer__nav">
            <h2 class="footer__nav__title sr-only">
                {{ footer_nav.title }}
            </h2>
            <ul class="footer__nav__container">
                {% for item in footer_nav.items %}
                    <li class="footer__nav__item item__{{ item.slug }}">
                        <a class="footer__nav__item__link link__{{ item.slug }}"
                           href="{{ item.link }}">
                            {{ item.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </footer>
</body>
</html>