{% extends 'base.twig' %}

{% block body %}

    <main class="home">
        <section class="home__introduction">
            <h2 class="home__introduction__title sr-only">
                {{ __('Introdution.', 'portfolio') }}
            </h2>
            <p class="home__introduction__text1">
                {{ __('Environment friendly web lover.', 'portfolio') }}
            </p>
            <p class="home__introduction__text2">
                {{ __('Plain black coffee addict.', 'portfolio') }}
            </p>
            <p class="home__introduction__text3">
                {{ __('Solution finder and problem solver.', 'portfolio') }}
            </p>
            <div class="home__introduction__scroll-indicator">

            </div>
        </section>
        <section class="home__main">
            <h2 class="home__main__title sr-only">
                {{ __('Main part', 'portfolio') }}
            </h2>
            <div class="home__main__about">
                <h3 class="home__main__about__title">
                    {{ __('Hi, I’m Théo Léonet', 'portfolio') }}
                    <span class="home__main__title__emoji__container">
                    <img src=""
                         alt="{{ __('Waving hand emoji', 'portfolio') }}"
                         class="home__main__title__emoji">
                </span>
                </h3>
                <a href=""
                   class="home__main__about__subtitle">
                    {{ __('Wanna know more about me?', 'portfolio') }}
                </a>
            </div>
            <div class="home__main__latest-work">
                <h3 class="home__main__latest-work__title">
                    {{ __('Here’s my latest work.', 'portfolio') }}
                </h3>
                {% for work in latest_works %}
                    {% include '/partials/_work.twig' %}
                {% endfor %}
                <a href=""
                   class="home__main__latest-work__more">

                </a>
            </div>
        </section>
        <section class="home__contact"
                 id="contact">
            <h2 class="home__contact__title">
                {{ __('Let’s create something great together', 'portfolio') }}
            </h2>
            <form action="{{ function('admin_url', 'admin-post.php') | e('esc_url') }}"
                  method="post"
                  class="home__contact__form">
                <div class="home__contact__form__field">
                    <label for="fullname"
                           class="home__contact__form__field__label">
                        {{ __('Full name', 'portfolio') }}
                    </label>
                    <input type="text"
                           name="fullname"
                           class="home__contact__form__field__input"
                           id="fullname"
                           value="{{ function('portfolio_get_contact_field_value', 'fullname') }}">
                    {{ function('portfolio_get_contact_field_error', 'fullname') }}
                </div>
                <div class="home__contact__form__field">
                    <label for="email"
                           class="home__contact__form__field__label">
                        {{ __('Email', 'portfolio') }}
                    </label>
                    <input type="email"
                           name="email"
                           class="home__contact__form__field__input"
                           id="email"
                           value="{{ function('portfolio_get_contact_field_value', 'email') }}">
                    {{ function('portfolio_get_contact_field_error', 'email') }}
                </div>
                <div class="home__contact__form__field">
                    <label for="message"
                           class="home__contact__form__field__label">
                        {{ __('Your message', 'portfolio') }}
                    </label>
                    <textarea name="message"
                              id="message"
                              cols="30"
                              rows="10"
                              class="home__contact__form__field__textarea">{{ function('portfolio_get_contact_field_value', 'message') }}</textarea>
                    {{ function('portfolio_get_contact_field_error', 'message') }}
                </div>
                <div class="home__contact__form__actions">
                    {{ function('wp_nonce_field', 'nonce_submit_contact_form') }}
                    <input type="hidden"
                           name="action"
                           value="submit_contact_form"/>
                    <button type="submit"
                            class="home__contact__form__send">
                        <img src=""
                             alt="">
                    </button>
                </div>
            </form>
            <p class="home__contact__direct-email">
                {{ __('Or email me at', 'portfolio') }}
                <a href="mailto:dev@theoleonet.be">
                    dev@theoleonet.be
                </a>
            </p>
        </section>
    </main>

{% endblock %}