{% extends 'base.twig' %}

{% block body %}

    <main class="legal">
        <h2 class="legal__title">
            {{ __('Mentions légales','savannair') }}
        </h2>
        <section class="legal__1">
            <h3 class="legal__1__title">
                {{ __('Clause de confidentialité', 'savannair') }}
            </h3>
            <div class="legal__1__content">
                <p>
                    {{ __('Je traiterais avec le plus grand soin les données personnelles qui m’ont été communiquées. Je les traiterais en toute confidentialité et ne les utiliserais qu’aux fins pour lesquelles elles m’ont été communiquées. Ces données peuvent être enregistrées dans une ou plusieurs de mes bases de données et ne seront pas communiquées à des tiers sans le consentement de la personne concernée. Cette dernière peut en outre toujours réclamer la communication de ses données en ma possession, et en demander rectification et suppression.', 'portfolio') }}
                </p>
            </div>
        </section>
        <section class="legal__2">
            <h3 class="legal__2__title">
                {{ __('Utilisation de cookies', 'portfolio') }}
            </h3>
            <div class="legal__2__content">
                <p>
                    {{ __('Je souhaites informer les utilisateurs de ce site Internet au sujet de l’utilisation de cookies. Les cookies sont des petits fichiers-textes placés sur le disque dur de l’ordinateur des visiteurs d’un site Internet. Ils contiennent des informations, telles que les préférences linguistiques du visiteur, afin que ce dernier ne doive plus les saisir lors de sa prochaine visite. Certains cookies veillent à ce qu’un site Internet s’affiche de manière soignée d’un point de vue graphique, d’autres à ce qu’une application du site fonctionne correctement. D’autres cookies encore sont utilisés pour collecter des statistiques relatives aux visiteurs et ainsi me permettre d’améliorer mon site Internet à l’avenir.', 'portfolio') }}
                </p>
                <p>
                    {{ __('Pour bloquer les cookies, il vous suffit de régler les paramètres de votre navigateur. Pour ce faire, consultez la fonction d’aide de votre navigateur. Sachez toutefois que si vous désactivez les cookies, certains éléments graphiques n’apparaîtront peut-être plus de manière esthétique ou que vous ne pourrez plus utiliser certaines applications.', 'portfolio') }}
                </p>
                <p>
                    {{ __('En continuant d’utiliser ce site Internet sans bloquer les cookies dans les paramètres de son navigateur, le visiteur accepte leur utilisation.', 'portfolio') }}
                </p>
                <p>
                    {{ __('Vous pouvez retirer à tout moment les cookies installés sur votre ordinateur ou appareil mobile.', 'portfolio') }}
                </p>
            </div>
        </section>
    </main>

{% endblock %}