{% extends 'base.twig' %}

{% block body %}

    <main class="about">
        <h2 class="about__title sr-only">
            {{ __('About', 'portfolio') }}
        </h2>
        <section class="about__main">
            <h3 class="about__main__title">
                {{ __('That’s me! Sort of...', 'portfolio') }}
            </h3>
            <div class="about__main__text">
                <p> As said earlier, I’m a code / web design lover with a heavy focus on environmental issues. </p>
                <p>I’m currently pursuing a Bachelor at “La Haute école de la Province de Liège” in Belgium.
                    If everything goes well, I should be available for you to hire in {{ days_left }} days.
                </p>
                {{ post.content }}
            </div>
            <div class="about__main__music">

            </div>
            <div class="about__main__contact">
                <p class="about__main__contact__tagline">
                    {{ __('But that’s enough talking about me! How about you tell me about you?*', 'portfolio') }}
                </p>
                <a href="mailto:dev@theoleonet.be"
                   class="about__main__contact__link">
                    dev@theoleonet.be
                </a>
                <p class="about__main__contact__asterisk">
                    {{ __('* Come on, don’t be shy!', 'portfolio') }}
                </p>
            </div>
        </section>
    </main>

{% endblock %}